{{ $page := .page }}

<!-- Custom widget -->
<div class="row">
  {{ if $page.Title }}
  <div class="col-12 col-lg-4 section-heading">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
  </div>
  <div class="col-12 col-lg-8"><div class="row">

  <!--  LIST OF FACULTY  -->

  {{ with $page.Params.mygroup }}
    {{ range .faculty }}
    {{ if not .past }}
      <div class="col-4 col-sm-4" style="padding: 10px 10px 25px 10px; text-align: center; line-height: 93%;">
        {{ if .website }}<a href="{{ .website }}">{{ end }}
          <img class="incircle" src="{{ .photo }}">
        {{ if .website }}</a>{{ end }}
        <br />
          {{ if .website }}<a href="{{ .website }}">{{ end }}
            {{ .name }}
          {{ if .website }}</a>{{ end }}
        <br />
        <span style="font-size: 0.8rem;">{{ .position }}</span>
        <br />
          {{ if .inspire }}
          <span style="font-size: 1rem;">
            <a itemprop="sameAs" href="{{ .inspire }}" rel="noopener">
              <i class="ai ai-inspire"></i>
            </a>
          </span>
          {{ end }}
          <!--  -->
          {{ if .arxiv }}
            <span style="font-size: 1rem;">
              <a itemprop="sameAs" href="{{ .arxiv }}" rel="noopener">
                <i class="ai ai-arxiv"></i>
              </a>
            </span>
          {{ end }}
          <!--  -->
          {{ if .orcid }}
            <span style="font-size: 1rem;">
              <a itemprop="sameAs" href="{{ .orcid }}" rel="noopener">
                <i class="ai ai-orcid"></i>
              </a>
            </span>
          {{ end }}
          <!--  -->
          {{ if .googlescholar }}
            <span style="font-size: 1rem;">
              <a itemprop="sameAs" href="{{ .googlescholar }}" rel="noopener">
                <i class="ai ai-google-scholar"></i>
              </a>
            </span>
          {{ end }}
          <!--  -->
          {{ if .ads }}
            <span style="font-size: 1rem;">
              <a itemprop="sameAs" href="{{ .ads }}" rel="noopener">
                <i class="ai ai-ads"></i>
              </a>
            </span>
          {{ end }}
          <!--  -->
          {{ if .github }}
            <span style="font-size: 1rem;">
              <a itemprop="sameAs" href="{{ .github }}" rel="noopener">
                <i class="fab fa-github"></i>
              </a>
            </span>
          {{ end }}
          <!--  -->
          {{ if .twitter }}
            <span style="font-size: 1rem;">
              <a itemprop="sameAs" href="{{ .twitter }}" rel="noopener">
                <i class="fab fa-twitter"></i>
              </a>
            </span>
          {{ end }}
          <!--  -->
      </div>
    {{ end }} <!-- if not .past -->
    {{ end }} <!--  range .faculty  -->
  {{ end }} <!-- with $page.Params.mygroup -->

</div> <!-- row, line 11 -->

<!--  /LIST OF FACULTY  -->

{{ if $page.Params.haspast }}
<div class="row">
  <h5 style="color:gray;">
    {{ with $page.Params.recenttitle }}{{ . | markdownify }}{{ end }}
  </h5>
</div>
{{ end }}


<!--  LIST OF PAST STUDENTS  -->
<div class="row">
{{ with $page.Params.mygroup }}
  {{ range .faculty }}
    {{ if .past }}
<!--  -->
          <div class="col-2 col-sm-2" style="padding: 10px 10px 25px 10px; text-align: center; font-size: 0.6rem; line-height: 93%;">
            {{ if .inspire }}<a href="{{ .inspire }}">{{ end }}
              <img
                class="incircle"
                style=" -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                        filter: grayscale(100%);"
                        src="{{ .photo }}">
            {{ if .inspire }}</a>{{ end }}
            <br />
                {{ .name }}
            <!--  -->
            <br />
            <span class="comment" style="font-size: 0.5rem;">
              ({{ if .adviser }}{{ .adviser }},{{ end }}
              {{ if .start }}{{ .start }} - {{ end }}
              {{ if .end }}{{ .end }}{{ end }})
            </span>

            <!--  -->
          </div>
<!--  -->
    {{ end }} <!-- if not .past -->
  {{ end }} <!--  range .faculty  -->
{{ end }} <!-- with $page.Params.mygroup -->
</div> <!-- row on line 106 -->
<!--  /LIST OF PAST STUDENTS  -->




  {{ $page.Content }}
  </div> <!-- col-12 col-md-8-->

{{ else }} <!-- if-else $page.title -->
  <div class="col-12">
    <!-- THIS TEXT SHOULDNT SHOW UP -->
    {{ $page.Content }}
  </div>

{{ end }} <!-- if-else $page.title -->
</div>
